{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static	'products/css/style.css' %}">
    
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Amazon Online Shopping</h3>
					<p>Dear Customer, In 2010, the first item ever ordered on Souq.com was delivered to a customer in Egypt. In the years that followed, we have worked hard to continually improve your shopping experience by adding a wide selection of products, offering faster delivery, and consistently focusing on great value. There have been many milestones for Souq.com over the years, and today we have another one to share with you. We are proud to announce that your Souq.com is now your Amazon.eg—bringing together the best of both worlds. 
                        With millions of products on Amazon.eg, you can now shop local and international brands and find everything you need across electronics, apparel, home and kitchen, grocery, and more. As you shop on Amazon.eg, you will enjoy the same great prices and easy payment options that you did on Souq.com, along with Amazon's fast and reliable delivery service. You will also be able to shop in Arabic and English on both the Amazon Shopping app and the website. 
                        Your existing Souq.com account details, including login information, delivery addresses, payment methods, and wish lists, have seamlessly transitioned to your new Amazon.eg account. Any balance you had in your Souq.com wallet has moved over to Amazon.eg, and any orders you previously placed on Souq will be delivered as promised. 
                        All that's left is for you to log in and enjoy the Amazon.eg shopping experience! You can easily download the Amazon shopping app, and select 'Egypt' from the settings or simply visit Amazon.eg on your mobile or desktop browser. 
                        As we take our first steps with Amazon.eg, we promise to continue delighting you as our customer. The entire Amazon Egypt team is looking to improve and build on our service so that we can provide you with the best possible shopping experience. 
                        Thank you for being our customer. We look forward to serving you on Amazon.eg. 
                        Shukran, Omar Elsahy Country Manager, Amazon Egypt .</p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
			</div>
			<div class="image-section">
				<img src="{% static	'products/image/amazon.png' %}">
			</div>
		</div>
	</div>

	
</body>
</html>