{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Contact Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static	'products/css/style.css' %}">
    
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Contact Us</h1>
				</div>
				<div class="content">
					<h3>Amazon Online Shopping</h3>
					<p>You can contact us on our facebook page from here <a href="https://www.facebook.com/amazon.eg/"><i class="fab fa-facebook-f"></i></a> </p>
                    
					<p>You can reach our website page from here <a href="https://www.amazon.eg"><i class="fab fa-amazon"></i></a></p>
				</div>
			</div>
			<div class="image-section">
				<img src="{% static 'products/image/contactus.jpeg'%}">
			</div>
		</div>
	</div>

	
</body>
</html>